@model Collection


﻿@{
    ViewData["Title"] = "Edit";
    var UserId = Model.UserId;
    var CreatedAt = Model.CreatedAt;
}


@section Styles {
      
}   

<h1>Edit Collection</h1>

<form asp-action="Edit" enctype="multipart/form-data" method="post">

    <div class="form-group">
        <input asp-for="UserId" value="@UserId" class="form-control d-none" />
    </div>

    <div class="form-group">
        <input asp-for="CreatedAt" value="@CreatedAt" type="text" class="form-control d-none" />
    </div>

    <div class="form-group">
        <input asp-for="TotalItems" value="@Model.TotalItems" class="form-control d-none" />
    </div>





    <div class="form-group">
        <label asp-for="CollectionId">Collection Id</label>
        <input asp-for="CollectionId" class="form-control" readonly style="background-color: #f5f5f5;" />
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea id="tiny" asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <select asp-for="CategoryName" class="form-control">
            <option value="Books">Books</option>
            <option value="Signs">Signs</option>
            <option value="Silverware">Silverware</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div style="display: none;" class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control"   />
    </div>

    <div  class="form-group">
        <label  for="Image">Select Image</label>
        <input  type="file" class="form-control" id="Image" name="Image"  />
    </div>

    <h3>Custom Fields</h3>
    <div id="custom-fields">
        <!-- Custom fields will be appended here -->

         <div class="form-group" style="display: flex;">
            <input asp-for="CustomString1Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="String" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomString2Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="String" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomString3Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="String" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>

        <div class="form-group" style="display: flex;">
            <input asp-for="CustomInt1Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Integer" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomInt2Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Integer" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomInt3Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Integer" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>

        <div class="form-group" style="display: flex;">
            <input asp-for="CustomMultilineText1Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Multiline Text" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomMultilineText2Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Multiline Text" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomMultilineText3Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Multiline Text" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>

        <div class="form-group" style="display: flex;">
            <input asp-for="CustomBoolean1Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Boolean" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomBoolean2Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Boolean" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomBoolean3Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Boolean" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>

        <div class="form-group" style="display: flex;">
            <input asp-for="CustomDate1Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Date" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomDate2Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Date" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
        <div class="form-group" style="display: flex;">
            <input asp-for="CustomDate3Name" class="form-control mb-2" placeholder="Enter Field name" style="margin-right: 10px;" />
            <input value="Date" type="text" class="form-control mb-2" readonly style="margin-right: 10px;background-color: lightgray;" />
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Save Changes</button>
    </div>

    </div>



</form>

@section Scripts {

    <script src="https://cdn.tiny.cloud/1/4bsti5dzdlphqqvhtqxpppmzohh6pjosn35phr12bcpx4ax0/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny'
        });
    </script>
       
}  

